langchain-core
langchain-openai
pydantic
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
sentence-transformers
diskcache
gradio
fastapi
uvicorn
pandas
requests
python-dotenv
